@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

/*задаем серый фон странице*/
.fond {
  background-color: #F2F2F2;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756157;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/*блок навигации*/
.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.fav-number {
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #FFFFFF;
  background-color: #7DB54F;
  text-decoration: none;
  text-align: center;
}

/*блок hero*/
.hero {
  background-image: url("../images/background-image-main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.slogan {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

/*блок преимущества*/
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-photo {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-description-white {
  text-align: center;
}

.advantages-description {
  text-align: center;
}

.item-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.item-dark {
  background-color: rgba(131, 179, 211, 0.2);
}

.title-black {
  color: #000000;
}

/*блок сервис*/
.service {
  text-align: center;
}

.service-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.service-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

/*блок поиска*/
.search-hotel {
  text-align: center;
}

.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.search-hotel-button {
  font-size: 20px;
  line-height: 36px;
}

/*блок рассылки*/
.subscribe {
  color: #FFFFFF;
  background-image: url("../images/background-subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #82B3D3;
}

.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-button {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82b3d3;
  text-transform: uppercase;
  text-align: center;
  border: 0;
}

.subscribe-field {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

/*стилизация номера телефона*/
.link-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

/*фон для секции фильтров*/
.wrap {
  background-image: url("../images/background-filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #82B3D3;
}

/*хлебные крошки*/
.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs-link {
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
}

/*каталог*/
.catalog-filter {
  color: #FFFFFF;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.control {
  line-height: 23px;
}

.price {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-align: right;
}

.no-border {
  background-color: #ffffff00;
  border: 0;
}

.select-control {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.catalog-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

/*стилизация карточек каталога*/
.hotel-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.hotel-link {
  text-decoration: none;
}

.hotel-card-price {
  text-align: right;
}

.hotel-raiting {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.button-submit {
  background-color: #82B3D3;
  border: 0;
}

.fav-button-click {
  background-color: #7DB54F;
  border: 0;
}

/*пагинация*/
.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  background-color: #82B3D3;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-other {
  color: #000000;
  background-color: #FFFFFF;
}

/*скрытие элемонов с классом vissualy-hidden*/
.visually-hidden {
  position: absolute;
  width: 0;
  height: 0;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
