@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  color: #333333;
  margin: 0;
  height: 100%;
  background-color: #F2F2F2;

}

.page {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756157;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.page-header {
  display: flex;
  width: 1060px;
  padding-left: 70px;
  padding-right: 70px;
}

/*блок навигации*/
.header-logo {
  width: 140px;
  margin-right: 28px;
  display: block;
}

.navigation {
  width: 712px;
  flex-shrink: 0;
  display: flex;
  margin-right: 20px;
}

.navigation-list {
  width: 339px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: auto;
}

.navigation-user {
  width: 88px;
  margin: 0;
  padding: 0;
}

.navigation-user-link {
  width: 160px;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.fav-number {
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #FFFFFF;
  background-color: #7DB54F;
  text-decoration: none;
  text-align: center;
}

/*блок hero*/
.hero {
  background-image: url("../images/decoration/divider.svg"), url("../images/background-image-main.jpg");
  background-size: 1200px auto, cover;
  background-position: center bottom, center;
  background-repeat: no-repeat;
  background-color: #2e4650;
  padding-top: 51px;
  padding-right: 371px;
  padding-bottom: 82px;
  padding-left: 371px;
  margin-bottom: 69px;
}

.slogan {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

/*блок преимущества*/
.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 230px;
  padding: 112px 85px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-photo {
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 1200px;
}

.advantages-img {
  display: block;
}

.advantages-description-light {
  text-align: center;
}

.advantages-description {
  text-align: center;
}

.item-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.item-dark {
  background-color: rgba(131, 179, 211, 0.2);
}

.title-dark {
  color: #000000;
}

/*блок сервис*/
.service {
  text-align: center;
}

.service-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.service-item {
  width: 230px;
  padding: 81px 85px;
}

.service-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.service-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

/*блок поиска*/
.search-hotel {
  text-align: center;
}

.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.search-hotel-button {
  font-size: 20px;
  line-height: 36px;
}

/*блок рассылки*/
.subscribe {
  color: #FFFFFF;
  background-image: url("../images/background-subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  padding-top: 96px;
  padding-right: 258px;
  padding-bottom: 104px;
  padding-left: 258px;
}

.subscribe-button {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82b3d3;
  text-transform: uppercase;
  text-align: center;
  border: 0;
}

.subscribe-field {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.page-footer {
  background-color: #ffffff;
}

.footer-wrapper {
  width: 1060px;
  margin: 0 auto;
  display: flex;
}

.social-list {
  margin: 0;
  padding: 0;
  width: 142px;
  margin-right: 41px;
}

/*стилизация номера телефона*/
.link-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  width: 333px;
  padding-right: 190px;
  padding-left: 190px;
  margin-right: 41px;
}

.about-link {
  width: 115px;
  background-image: url("../images/logo-htmlacademy.svg");
  background-repeat: no-repeat;
}

/*фон для секции фильтров*/
.wrap {
  background-image: url("../images/background-filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  padding-top: 35px;
  padding-right: 70px;
  padding-bottom: 70px;
  padding-left: 70px;
}

.inner-header {
  width: 1060px;
  margin: 0 auto;
}

/*хлебные крошки*/
.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
}

/*каталог*/
.catalog-filter {
  color: #FFFFFF;
  display: flex;
  width: 1060px;
}

.catalog-filter-group {
  width: 151px;
  margin: 0;
  padding: 0;
  border: 0;
}

.first-filter {
  margin-right: 70px;
}

.second-filter {
  margin-right: 140px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 0;
}

.control {
  line-height: 23px;
}

.price {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-align: right;
  width: 143px;
}

.catalog-price-filter {
  width: 288px;
  margin: 0;
  padding: 0;
  border: 0;
  margin-right: 70px;
}

.no-border {
  background-color: #ffffff00;
  border: 0;
}

.select-control {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: inherit;
}

.catalog {
  width: 1060px;
  margin: 0 auto;
}

.catalog-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

/*стилизация карточек каталога*/
.hotel-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotel-item {
  width: 300px;
  padding: 20px;
}

.hotel-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.hotel-link {
  text-decoration: none;
}

.hotel-card-price {
  text-align: right;
}

.hotel-raiting {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.button-submit {
  background-color: #82B3D3;
  border: 0;
}

.fav-button-click {
  background-color: #7DB54F;
  border: 0;
}

/*пагинация*/
.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  background-color: #82B3D3;
  display: block;
  width: 60px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-other {
  color: #000000;
  background-color: #FFFFFF;
}

/*скрытие элемонов с классом vissualy-hidden*/
.visually-hidden {
  position: absolute;
  width: 0;
  height: 0;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
